/* searchItem.module.css */

.itemLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.icon {
  color: var(--text-color-light);
  opacity: 0.7;
  flex-shrink: 0;
}

.title {
  font-size: 1.125rem; /* text-lg */
  color: var(--text-color-light);
  transition: text-decoration 0.2s ease;
}

.itemLink:hover .title {
  text-decoration: underline;
}

.brand {
  opacity: 0.6;
  font-size: 0.875rem; /* text-sm */
}