.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  width: 100%;
  touch-action: none;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  color: var(--text-color-light);
}

.backButton {
  background: none;
  border: none;
  color: var(--text-color-light);
  align-self: flex-start;
  cursor: pointer;
  padding: 0;
  align-self: center;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  flex: 1 1 0%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.statRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.125rem; /* text-lg */
  color: var(--text-color-light);
}

.statLabel {
  opacity: 0.9;
}

.statValue {
  font-weight: 600;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.inputGroup {
  background-color: var(--text-color-light);
  border-radius: 0.75rem; 
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--background);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.gramInput {
  width: 100%;
  text-align: right;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  border: none;
  padding-right: 0.5rem;
  color: var(--background);
}

.gramUnit {
  font-size: 1.5rem;
  color: var(--background); 
  font-weight: 500;
}

.saveButton {
  width: 100%;
  background-color: var(--button-color);
  color: #003d2b;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.saveButton:hover {
  transform: scale(1.02);
}

.notFound {
  color: var(--text-color-light);
  text-align: center;
  margin-top: 3rem;
}