.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.arrowButton {
  background: none;
  border: none;
  color: #00ffb3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

.dateLabel {
  color: #00ffb3;
  font-weight: 700;
  font-size: 1.125rem;
}